<config>
	<modules>
		<Canary_Alerts>
			<version>1.0.0</version>
		</Canary_Alerts>
	</modules>
	<global>
		<helpers>
			<canaryalerts>
				<class>Canary_Alerts_Helper</class>
			</canaryalerts>
		</helpers>
		<blocks>
			<canaryalerts>
				<class>Canary_Alerts_Block</class>
			</canaryalerts>
		</blocks>
		<models>
			<canaryalerts>
				<class>Canary_Alerts_Model</class>
			</canaryalerts>
		</models>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
	                    <canaryalerts_order_new>
	                        <class>canaryalerts/observer</class>
	                        <method>orderPlaced</method>
	                    </canaryalerts_order_new>
	               </observers>
			</checkout_onepage_controller_success_action>
		</events>
	</global>
	<adminhtml>
	     <translate>
				<modules>
					<canaryalerts>
						<files>
	                        <default>Canary_Alerts.csv</default>
	                    </files>
					</canaryalerts>
				</modules>
			</translate>
	       <menu>
	            <canaryalerts module="canaryalerts">
	                <title>Canary</title>
	                <sort_order>60</sort_order>
	                <children>
	                     <config  translate="title" module="canaryalerts" >
	                        <title>Alerts</title>
	                      	<action>canaryalerts/config/index</action>
	                    </config>
	                </children>
	            </canaryalerts>
       		 </menu>
      </adminhtml>
      <admin>
        <routers>
            <canaryalerts>
                <use>admin</use>
                <args>
                    <module>Canary_Alerts</module>
                    <frontName>canaryalerts</frontName>
                </args>
            </canaryalerts>
        </routers>
    </admin>
     <frontend>
        <routers>
            <canaryalerts>
                <use>standard</use>
                <args>
                    <module>Canary_Alerts</module>
                    <frontName>canaryalerts</frontName>
                </args>
            </canaryalerts>
        </routers>
    </frontend>
    <default>
    	<canaryalerts>
    		<api></api>
    		<store_id></store_id>
    	</canaryalerts>
    </default>
</config>